ajsonrpc==1.2.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
bottle==0.13.4
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
fastapi==0.135.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
marshmallow==3.26.2
packaging==26.0
platformio @ https://github.com/platformio/platformio-core/archive/develop.zip#sha256=1cf44fbe238058197a7de35e0f4b6472d348029b4169b5ca0ed2b8ada063082a
pydantic==2.12.5
pydantic_core==2.41.5
pyelftools==0.32
pyserial==3.5
python-telegram-bot==22.7
requests==2.32.5
semantic-version==2.10.0
starlette==0.50.0
tabulate==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.40.0
wsproto==1.3.2
